USE [master]
GO
/****** Object:  Database [AuthenticationDemoDB]    Script Date: 27-01-2021 09:52:28 ******/
CREATE DATABASE [AuthenticationDemoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuthenticationDemoDB', FILENAME = N'C:\Users\suraj.aher\AuthenticationDemoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuthenticationDemoDB_log', FILENAME = N'C:\Users\suraj.aher\AuthenticationDemoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuthenticationDemoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuthenticationDemoDB]
GO
USE [AuthenticationDemoDB]
GO
/****** Object:  Table [dbo].[TokenInfo]    Script Date: 27-01-2021 09:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokenInfo](
	[UserId] [int] NOT NULL,
	[AccessToken] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NOT NULL,
	[ExpiryTime] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27-01-2021 09:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Roles] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Roles]) VALUES (1, N'Ram@gmail.com', N'ram@123', N'Admin,User')
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Roles]) VALUES (2, N'Sham@gmail.com', N'sham@123', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
